<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<img id="img-of-the-day">
<script>
  let query = 'https://api.nasa.gov/planetary/apod?api_key=i6VoGfQKsubw8bFnSnv9mtMSuJO2bu6MdPnqROEy';
  let request = new XMLHttpRequest();
  request.open('GET', query);
  request.onload = function() {
    if (request.status === 200) {
      let response = JSON.parse(request.responseText);
      document.getElementById('img-of-the-day').setAttribute('src', response.url);
    }
  };
  request.send();
</script>
<formr th:action="create" >


</formr>


</body>
</html>