<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<table>-->
<!--    <tr>-->
<!--        <td>ID</td>-->
<!--        <td>Name</td>-->
<!--        <td>Conten</td>-->
<!--        <td>Category</td>-->
<!--        -->
<!--    </tr>-->
<!--    <tbody id="result">-->
<!--    <tr th:each="b: ${li}" th:object="${b}">-->
<!--        <td th:text="*{id}"></td>-->
<!--        <td th:text="*{nameBlog}"></td>-->
<!--        <td th:text="*{content}"></td>-->
<!--        <td th:text="*{category.categoryName}"></td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->

<!--</body>-->
<!--</html>-->