<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show list</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet"/>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/list">Quản lí </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/create">Create</a>
                </li>
                <!--                    <li class="nav-item">-->
                <!--                        <a class="nav-link" href="#">Link</a>-->
                <!--                    </li>-->
                <!--                    <li class="nav-item dropdown">-->
                <!--                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
                <!--                            Dropdown-->
                <!--                        </a>-->
                <!--                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">-->
                <!--                            <li><a class="dropdown-item" href="#">Action</a></li>-->
                <!--                            <li><a class="dropdown-item" href="#">Another action</a></li>-->
                <!--                            <li><hr class="dropdown-divider"></li>-->
                <!--                            <li><a class="dropdown-item" href="#">Something else here</a></li>-->
                <!--                        </ul>-->
                <!--                    </li>-->
                <!--                    <li class="nav-item">-->
                <!--                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
                <!--                    </li>-->
            </ul>


            <form class="d-flex" th:action="@{/search}" method="post">
<!--                <select id="select" name="searchByLoaiSP" class="custom-select" >-->
<!--                    <option th:each="c: ${categories}" th:value="${c.categoryName}"-->
<!--                            th:text="${c.categoryName}"></option>-->
<!--                </select>-->
                <input class="form-control me-2" type="search" name="searchByTenSP"
                       placeholder="Search by tên SP" aria-label="Search">

                <button class="btn btn-outline-success" type="submit">Search</button>

            </form>
            <form class="d-flex" th:action="@{/searchPrice}" method="post">
                <input class="form-control me-2" type="search" name="searchByPrice"
                       placeholder="Search by giá bắt đầu" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>

            </form>


        </div>
    </div>
</nav>


<table class="table">
    <thead>
    <tr>
        <td>Id</td>
        <td>Tên sản phẩm</td>
        <td>Giá sản phẩm</td>
        <td>Loại sản phẩm</td>
        <td>Tình trạng</td>
        <td>Hành động</td>
    </tr>
    </thead>
    <tr th:each="p: ${products}" th:object="${p}">
        <td th:text="*{id}"></td>
        <td th:text="*{name}"></td>

        <td th:text="*{#numbers.formatCurrency(price)}"></td>
        <td th:text="*{category.categoryName}"></td>
        <td th:text="*{status}"></td>
        <td>
                <a th:onclick="showDeleteModal([[*{id}]])" type="button" data-bs-toggle="modal" data-bs-target="#deleteModal" class="btn btn-success">Delete</a>
        </td>
    </tr>
</table>



<div>
        <span>
            <a th:if="${products.hasPrevious()}" th:href="@{/list(page = ${products.number - 1})}">Previous</a>
        </span>
    <span th:each="pageNo: ${#numbers.sequence(0,products.totalPages - 1)}">
            <a th:href="@{/list(page = ${pageNo})}" th:text="${pageNo}"></a>
        </span>
    <span>
            <a th:if="${products.hasNext()}" th:href="@{/list(page = ${products.number +1})}">Next</a>
        </span>
</div>


<!-- Modal delete -->
<!--<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--    <div class="modal-dialog">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                <h5 class="modal-title" id="exampleModalLabel">DELETE</h5>-->
<!--                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--            </div>-->
<!--            <div class="modal-body">-->
<!--                <span>Bạn có muốn xoá hay không </span>-->
<!--&lt;!&ndash;                <span id="showId"></span>&ndash;&gt;-->
<!--            </div>-->
<!--            <div class="modal-footer">-->
<!--                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
<!--                <form th:action="@{/delete}" method="get">-->
<!--                    <input type="hidden" name="id" value="" id="id">-->
<!--                    <button type="submit" class="btn btn-danger">Delete</button>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<script>-->
<!--    function showDeleteModal(id) {-->
<!--        // document.getElementById('showId').innerText = id;-->
<!--        document.getElementById('id').value = id;-->
<!--    }-->
<!--</script>-->

<!-- Modal delete -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">DELETE</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <span>Bạn có muốn xoá hay không </span>
                <!--                <span id="showId"></span>-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <form th:action="@{/delete}" method="get">
                    <input type="hidden" name="id" value="" id="id">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function showDeleteModal(id) {
        // document.getElementById('showId').innerText = id;
        document.getElementById('id').value = id;
    }
</script>

<script crossorigin="anonymous"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js">
</script>
</body>
</html>