<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <style>
    div{
      font-size: 25px;
    }
  </style>

</head>
<body>
<div>
  <h2 style="text-align: center">Create music</h2>

  <form th:action="@{/create}" method="post" th:object="${music}">
    <table>
      <tr>
        <td>Tên bài hát</td>
        <td><input type="text" th:field="*{nameMusic}"></td>
      </tr>
      <tr>
        <td>Nghệ sĩ thể hiện </td>
        <td><input type="text" th:field="*{nameSinger}"></td>
      </tr>
      <tr>
        <td>Thể loại </td>
        <td><input type="text" th:field="*{category}"></td>
      </tr>
      <tr>
        <td>Đường dẫn file bài hát </td>
        <td><input type="text" th:field="*{url}"></td>
      </tr>
      <tr>
        <td><input type="reset" value="Reset"></td>
        <td><input type="submit" value="Create"></td>
      </tr>
    </table>
  </form>

</div>

</body>
</html>