<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }

        table {
            border-collapse: collapse;
        }
    </style>

</head>
<body>
    <h1 style="text-align: center">Show list</h1>
    <h2><a th:href="@{/create}">Create</a></h2>
    <table>
        <tr>
            <td>Id</td>
            <td>Tên bài hát</td>
            <td>Nghệ sĩ thể hiện</td>
            <td>Thể loại</td>
            <td>URL</td>
            <td>Action </td>
            <td>Nghe nhạc</td>
        </tr>
        <tr th:each="m: ${list}" th:object="${m}" >
            <td th:text="*{id}"></td>
            <td th:text="*{nameMusic}"></td>
            <td th:text="*{nameSinger}"></td>
            <td th:text="*{category}"></td>
            <td th:text="*{url}"></td>
            <td>
                <button><a th:href="@{/update/{id}(id=*{id})}">Update</a></button>
                <button><a th:href="@{/delete/{id}(id=*{id})}">Delete</a></button>
            </td>
            <td>
                <audio controls>
                    <source th:src="@{'/music/' + ${m.play}}" type="audio/wav">
                </audio>
            </td>
        </tr>

    </table>

</body>
</html>