<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/update}"  method="post"  th:object="${blog}">
    <table>
        <input type="hidden" th:field="*{id}">
        <tr>
            <td>Name</td>
            <td>
                <input type="text" th:field="*{nameBlog}">
            </td>
        </tr>
        <tr>
            <td>Conten</td>
            <td>
                <input type="text" th:field="*{content}">
            </td>
        </tr>
        <tr>
            <td>Category</td>
            <td>
                <select th:field="*{category.categoryId}">
                    <option th:each="c: ${listCategory}" th:value="${c.categoryId}"
                            th:text="${c.categoryName}"
                            th:selected="${blog.category.categoryId == c.categoryId}"></option>
                </select>
            </td>
        </tr>
        <tr><td><input type="submit" value="Update"></td></tr>
    </table>
</form>

</body>
</html>