<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Shop</title>
    <style>
        .inlineblock{
            display: inline-block;
        }
    </style>
</head>
<body>
<p>
    <a href="/shopping-cart">Your cart</a>
</p>
<div class="container">
    <div th:each="p:${products}" th:object="${p}" class="inlineblock">
        <div style="height: 300px" class="inlineblock" >
            <div class="inlineblock" >
                <a th:href="@{/detail/{id}(id=*{id})}"><img style="height: 300px" th:src="@{${p.description}}"></a>
            </div>
            <div class="fort">
                <span th:text="*{name}"></span>
                <br>
                <span th:text="*{price}"></span>
                <span> Đ</span>
            </div>
        </div>

    </div>
</div>
</body>
</html>