<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Shop</title>
</head>
<body>
<p>
  <a href="/shopping-cart">Your cart</a>
</p>
<!--<table border="1">-->
<!--  <tr>-->
<!--    <td>Name</td>-->
<!--    <td>Price</td>-->
<!--    <td>Add To Cart</td>-->
<!--  </tr>-->
<!--&lt;!&ndash;  -&#45;&#45;&ndash;&gt;-->
<!--  <th:block th:each="product: ${products}">-->
<!--    <tr>-->
<!--      <td th:text="${product.name}"></td>-->
<!--      <td th:text="${product.price}"></td>-->
<!--      <td><a th:href="@{/add/__${product.id}__(action='list')}">Add To Cart</a></td>-->
<!--    </tr>-->
<!--  </th:block>-->
<!--</table>-->

<div class="container">
  <div th:each="p:${products}" >
<!--    <div>-->
<!--      <img th:src="@{${p.description}}" alt="">-->
<!--      -->
<!--      -->
<!--      -->
<!--    </div>-->
    <div style="height: 300px">
      <img  height="100%" th:src="@{${p.description}}">
    </div>

  </div>
</div>
</body>
</html>