<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h1>Create new account</h1>
  <form th:action="@{/account/create}" method="post" th:object="${account}">
    <table>
      <tr>
        <td>Account name</td>
        <td><input type="text" th:field="*{accountName}"> </td>
      </tr>
      <tr>
        <td>Password</td>
        <td><input type="password" th:field="*{password}"> </td>
      </tr>
      <tr>
        <td colspan="2"><input type="submit" value="Register"> </td>
      </tr>
    </table>
  </form>
</body>
</html>