<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<h1 style="text-align: center"> Create product</h1>
  <form th:action="@{/create}" method="post" th:object="${product}">
    <div class="form-group row">
      <label class="col-4 col-form-label" for="text">Name</label>
      <div class="col-8">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="fa fa-address-book-o"></i>
            </div>
          </div>
          <input id="text" name="text" placeholder="Nhập tên sản phẩm" type="text" class="form-control" th:field="*{name}" />
          <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
<!--          <input id="text" name="text" placeholder="Nhập tên sản phẩm" type="text" class="form-control">-->

        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="text1" class="col-4 col-form-label">Quantity</label>
      <div class="col-8">
          <input id="text1" name="text1" placeholder="Nhập số lượng" type="text" class="form-control" th:field="*{quantity}">
          <span th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></span>

      </div>
    </div>
    <div class="form-group row">
      <label for="text3" class="col-4 col-form-label">Price</label>
      <div class="col-8">
        <input id="text3" name="text3" placeholder="Nhập giá" type="text" class="form-control" th:field="*{price}">
        <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
      </div>
    </div>


    <div class="form-group row">
      <label for="text2" class="col-4 col-form-label">Date release</label>
      <div class="col-8">
        <input id="text2" name="text2" placeholder="dd/MM/yyyy" type="text" class="form-control" th:field="*{dateRelease}">
        <span th:if="${#fields.hasErrors('dateRelease')}" th:errors="*{dateRelease}"></span>

      </div>
    </div>
    <div class="form-group row">
      <label for="select" class="col-4 col-form-label">Category name</label>
      <div class="col-8">
        <select id="select" name="select" class="custom-select" th:field="*{category.categoryId}">
          <option th:each="c: ${categories}" th:value="${c.categoryId}"
                  th:text="${c.categoryName}"></option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <div class="offset-4 col-8">
        <button name="submit" type="submit" class="btn btn-primary">Submit</button>
        <a class="btn btn-success" th:href="@{/list}">Back to list</a>

      </div>

    </div>
  </form>












<!--<form th:action="@{/create}" method="post" th:object="${product}">-->
<!--  <table>-->
<!--    &lt;!&ndash;            <input type="text" th:field="*{id}">&ndash;&gt;-->
<!--    <tr>-->
<!--      <td>Name</td>-->
<!--      <td>-->
<!--        <input type="text" th:field="*{name}" />-->
<!--        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>-->
<!--      </td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>Quantity</td>-->
<!--      <td><input type="text" th:field="*{quantity}">-->
<!--        <span th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></span>-->
<!--      </td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>Date release</td>-->
<!--      <td>-->
<!--        <input type="text" th:field="*{dateRelease}">-->
<!--        <span th:if="${#fields.hasErrors('dateRelease')}" th:errors="*{dateRelease}"></span>-->

<!--      </td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>Price</td>-->
<!--      <td>-->
<!--        <input type="text" th:field="*{price}">-->
<!--        <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>-->
<!--      </td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>Category name</td>-->
<!--      <td>-->
<!--        <select th:field="*{category.categoryId}">-->
<!--          <option th:each="c: ${categories}" th:value="${c.categoryId}"-->
<!--                  th:text="${c.categoryName}"></option>-->
<!--        </select>-->
<!--      </td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td><input type="reset" value="Reset"></td>-->
<!--      <td><input type="submit" value="Register"></td>-->
<!--    </tr>-->
<!--  </table>-->
<!--</form>-->

</body>
</html>