<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/update}"  method="post"  th:object="${product}">
  <table>
    <input type="hidden" th:field="*{id}">
    <tr>
      <td>Name</td>
      <td>
        <input type="text" th:field="*{name}">
      </td>
    </tr>
    <tr>
      <td>Quantity</td>
      <td>
        <input type="text" th:field="*{quantity}">
      </td>
    </tr>
    <tr>
      <td>Price</td>
      <td>
        <input type="text" th:field="*{price}">
      </td>
    </tr>
    <tr>
      <td>Date Release </td>
      <td>
        <input type="text" th:field="*{dateRelease}" placeholder="dd/mm/yyyy">
      </td>
    </tr>
    <tr>
      <td>Category</td>
      <td>
        <select th:field="*{category.categoryId}">
          <option th:each="c: ${categories}" th:value="${c.categoryId}"
                  th:text="${c.categoryName}"
                  th:selected="${product.category.categoryId == c.categoryId}"></option>
        </select>
      </td>
    </tr>
    <tr><td><input type="submit" value="Update"></td></tr>
  </table>
</form>

</body>
</html>