<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <form th:action="@{/update}"  method="post"  th:object="${product}">
    <input type="hidden" th:field="*{id}">
    <div class="form-group row">
      <label class="col-4 col-form-label" for="text">Name</label>
      <div class="col-8">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="fa fa-address-book-o"></i>
            </div>
          </div>
          <input id="text" name="text" placeholder="Nhập tên sản phẩm" type="text" class="form-control" th:field="*{name}" />
          <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
          <!--          <input id="text" name="text" placeholder="Nhập tên sản phẩm" type="text" class="form-control">-->

        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="text1" class="col-4 col-form-label">Quantity</label>
      <div class="col-8">
        <input id="text1" name="text1" placeholder="Nhập số lượng" type="text" class="form-control" th:field="*{quantity}">
        <span th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></span>

      </div>
    </div>
    <div class="form-group row">
      <label for="text3" class="col-4 col-form-label">Price</label>
      <div class="col-8">
        <input id="text3" name="text3" placeholder="Nhập giá" type="text" class="form-control" th:field="*{price}">
        <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
      </div>
    </div>


    <div class="form-group row">
      <label for="text2" class="col-4 col-form-label">Date release</label>
      <div class="col-8">
        <input id="text2" name="text2" placeholder="dd/MM/yyyy" type="text" class="form-control" th:field="*{dateRelease}">
        <span th:if="${#fields.hasErrors('dateRelease')}" th:errors="*{dateRelease}"></span>

      </div>
    </div>
    <div class="form-group row">
      <label for="select" class="col-4 col-form-label">Category name</label>
      <div class="col-8">
        <select id="select" name="select" class="custom-select" th:field="*{category.categoryId}">
          <option th:each="c: ${categories}" th:value="${c.categoryId}"
                  th:text="${c.categoryName}"></option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <div class="offset-4 col-8">
        <button name="submit" type="submit" class="btn btn-primary">Submit</button>
        <a class="btn btn-success" th:href="@{/list}">Back to list</a>

      </div>

    </div>
  </form>









<!--<form th:action="@{/update}"  method="post"  th:object="${product}">-->
<!--  <table class="table">-->
<!--    <input type="hidden" th:field="*{id}">-->
<!--    <tr>-->
<!--      <td>Name</td>-->
<!--      <td>-->
<!--        <input type="text" th:field="*{name}">-->
<!--      </td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>Quantity</td>-->
<!--      <td>-->
<!--        <input type="text" th:field="*{quantity}">-->
<!--      </td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>Price</td>-->
<!--      <td>-->
<!--        <input type="text" th:field="*{price}">-->
<!--      </td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>Date Release </td>-->
<!--      <td>-->
<!--        <input type="text" th:field="*{dateRelease}" placeholder="dd/mm/yyyy">-->
<!--      </td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>Category</td>-->
<!--      <td>-->
<!--        <select th:field="*{category.categoryId}">-->
<!--          <option th:each="c: ${categories}" th:value="${c.categoryId}"-->
<!--                  th:text="${c.categoryName}"-->
<!--                  th:selected="${product.category.categoryId == c.categoryId}"></option>-->
<!--        </select>-->
<!--      </td>-->
<!--    </tr>-->
<!--    <tr><td><input type="submit" value="Update"></td></tr>-->
<!--  </table>-->
<!--</form>-->

</body>
</html>